body {
  background-color: lightgray;
}

.container {
  overflow-y: hidden;
  height: 100%;
  display: grid;
  background-color: lightgray;
  grid-template-rows: 75px 75px 655px 20px;
  grid-template-columns: 1fr 1fr 7fr;
  grid-gap: 20px;
  grid-template-areas:
  "n n n n n n n n n"
  "m h c c c c c c c"
  "m h c c c c c c c"
  "m h c c c c c c c"
}

.navbar {
  background-color: #9cd1d0;
  box-shadow: 5px 5px #5b7a79;
  grid-area: n;
  display: flex;
  box-shadow: 10px;
}

.navitems {

}

.header {
  background-color: #b2d6a7;
  box-shadow: 5px 5px #728c6a;
  grid-area: h;
  padding: 20px;
}

.menu {
  padding: 10%;
  background-color: #dd6d54;
  grid-area: m;
  box-shadow: 5px 5px #aa5440;
}

.thematext {
  background-color: white;
  padding: 10%;
}

#thematextdiv {
  box-shadow: 5px 5px #7c7c7c;
}

.content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #ede3c4;
  box-shadow: #7f7a69;
  grid-area: c;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 500px 500px 500px 500px 500px 500px;
  padding: 30px;
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #C05746;
}

::-webkit-scrollbar-thumb {
    background: #E8EBE4;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ABADA8;
}


.footer {
  background-color: #091c38;
  grid-area: f;
}
